
$onyx: #2b2c30;

/* SCSS HEX */
$charcoal: #264653ff;
$persian-green: #2a9d8fff;
$maize-crayola: #e9c46aff;
$sandy-brown: #f4a261ff;
$burnt-sienna: #e76f51ff;

/* SCSS HSL */
$charcoal: hsla(197, 37%, 24%, 1);
$persian-green: hsla(173, 58%, 39%, 1);
$maize-crayola: hsla(43, 74%, 66%, 1);
$sandy-brown: hsla(27, 87%, 67%, 1);
$burnt-sienna: hsla(12, 76%, 61%, 1);

/* SCSS RGB */
$charcoal: rgba(38, 70, 83, 1);
$persian-green: rgb(51, 194, 177);
$maize-crayola: rgba(233, 196, 106, 1);
$sandy-brown: rgba(244, 162, 97, 1);
$burnt-sienna: rgba(231, 111, 81, 1);

$light-text-color: #f0f0f0;
$body-color: $onyx;
$accordion-color: $light-text-color;
$accordion-bg: $onyx;

$accordion-button-color: $accordion-color;
$accordion-button-bg: $accordion-bg;
$accordion-border-color: rgba($light-text-color, .125);
$accordion-button-color: $accordion-color;
$accordion-button-bg: $accordion-bg;
$accordion-button-active-bg: tint-color($sandy-brown, 90%);
$accordion-button-active-color: shade-color($sandy-brown, 10%);

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  color: $light-text-color;
  background-color: $onyx;
}

a {
  color: $sandy-brown;
  cursor: pointer;
  transition: 0.25s linear;
  &:focus {
    color: $sandy-brown;
  } 

  &:hover {
    color: $sandy-brown;
    filter: brightness(1.2);
  }
}

.nav-item > a {
  color: $persian-green;

  &:hover {
    color: $persian-green;
    filter: brightness(1.1);

  }
}

a.no-highlight {
  filter: none;
  text-decoration: none;
}


div.highlight-on-hover {
  transition: 0.1s linear;
  border: 2px solid rgba(0,0,0,0);
  &:hover {
    border: 2px solid $sandy-brown;
  }
}

.card {
  background-color: #6B6B6B;
  color: $light-text-color;
  transition: .5s cubic-bezier(.075, .82, .165, 1);

  img {
    // max-height: 200px;
    transition: .5s linear;
    filter: brightness(0.9);
  }
}

#header:target {
  h1 > a {
    color: black;
    background-color: $sandy-brown;
  }
}

h1:target,h2:target,h3:target,h4:target {
  color: black;
  background-color: $sandy-brown;
}

.modal-content {
  // color: black;
  color: $light-text-color;
  background-color: #6B6B6B;;
}